<div class="caixa pt-60 pb-36">
    <h2 class="text-3xl text-center">{{ atributos }}</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 mt-20">
        {% set atributo = collections["atributo_" + locale] %}
        {%- for atributo in atributo -%}
            <div class="border border-sky-300 overflow-hidden rounded-2xl">
                <a href="{{ atributo.url }}" class="block lg:min-h-96 py-12 px-9 relative hover:bg-sky-100">
                    <div class="absolute top-6 right-6">
                        <svg class="fill-none stroke-sky-500 stroke-2 size-6" viewbox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                            <path d="m21 3-9 9"/>
                            <path d="M15 3h6v6"/>
                        </svg>
                    </div>
                    <h3 class="text-2xl text-sky-500 max-w-xs mb-3">{{ atributo.data.title }}</h3>
                    {{ atributo.data.descripcion | safe }}
                </a>
            </div>
        {%- endfor -%}
    </div>
</div>