<div class="caixa static py-9 sm:py-12 2xl:mt-6 2xl:rounded-t-xl">
  <div
    class="flex items-center gap-12">
    <!-- Logo -->
    <div class="flex-1">
      <a href="/{{ locale }}" class="text-sky-500 hover:text-sky-400">
        <div class="flex items-center">
          <div class="w-16 sm:w-20">
            {% include 'svg/logo.svg' %}
          </div>
          <div class="text-sm sm:text-base font-semibold ml-4">
            Ribeira Sacra<br/>
            <span class="text-sky-900">{{ site[locale].leyenda }}</span>
          </div>
        </div>
      </a>
    </div>
    <!-- Idiomas -->
    <div class="hidden lg:block">
      <ul class="flex gap-2 rounded-full bg-sky-100 p-2 text-sm sombra_interior idiomas">
        <li>
          <a href="/es" class="{% if locale == "es" %}active{% endif %}">es</a>
        </li>
        <li>
          <a href="/en" class="{% if locale == "en" %}active{% endif %}">en</a>
        </li>
        <li>
          <a href="/gl" class="{% if locale == "gl" %}active{% endif %}">gl</a>
        </li>
      </ul>
    </div>
    <!-- Menu -->
    <div class="lg:flex-1" x-data="{menu : false}">
      <button class="ml-auto block text-sky-500 hover:text-sky-700" @click="menu = true" aria-label="Menu">
        <svg class="fill-none stroke-current stroke-2 size-12 sm:size-14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
          <path d="M13 12h8"/>
          <path d="M13 18h8"/>
          <path d="M13 6h8"/>
          <path d="M3 12h1"/>
          <path d="M3 18h1"/>
          <path d="M3 6h1"/>
          <path d="M8 12h1"/>
          <path d="M8 18h1"/>
          <path d="M8 6h1"/>
        </svg>
      </button>
      <!-- side -->
      <div class="absolute top-0 2xl:top-6 left-1/2 right-0 overflow-hidden -translate-x-1/2 w-full h-[1000px] max-w-screen-2xl rounded-xl z-40" x-cloak x-show="menu" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
        <div class="absolute right-0 top-0 bottom-0 bg-sky-500 text-sky-50 max-w-xl h-fit px-12 pb-20 rounded-bl-xl" @click.outside="menu = false" x-show="menu" x-transition:enter-start="translate-x-24" x-transition:enter-end="translate-x-0" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-24" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
          <div class="pt-12">
            <button class="ml-auto block text-white hover:text-sky-200" @click="menu = false" aria-label="Cerrar Menu">
              <svg class="fill-none stroke-current stroke-2 size-14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18"/><path d="m6 6 12 12"/>
              </svg>
            </button>
          </div>
          <div class="lg:hidden">
            <ul class="flex gap-4 pt-6 pb-12">
              <li>
                <a href="/es" class="block text-center pt-3 size-14 rounded-full border border-white {% if locale == 'es' %}bg-white text-sky-500{% endif %}">es</a>
              </li>
              <li>
                <a href="/en" class="block text-center pt-3 size-14 rounded-full border border-white {% if locale == 'en' %}bg-white text-sky-500{% endif %}">en</a>
              </li>
              <li>
                <a href="/gl" class="block text-center pt-3 size-14 rounded-full border border-white {% if locale == 'gl' %}bg-white text-sky-500{% endif %}">gl</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="space-y-6 menu">
              <li>
                <a href="/{{ locale }}">{{ site[locale].inicio }}</a>
              </li>
              <hr>
                {% set atributo = collections["atributo_" + locale] %}
                {%- for item in atributo -%}
                  <li class="max-w-[260px]">
                    <a href="{{ item.url }}" {% if item.url == page.url %} class="text-sky-300" {% endif %}>
                      {{ item.data.title }}
                    </a>
                  </li>
                {%- endfor -%}
                <hr>
                  <li><a href="/{{ locale }}/legal/">{{ site[locale].legales }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>