<div class="caixa static py-9 sm:py-12 2xl:mt-6 2xl:rounded-t-xl">
  <div
    class="flex items-center gap-12">
    <!-- Logo -->
    <div class="flex-1">
      <a href="/">
        <div class="flex items-center">
          <div>
            <img src="/assets/img/favicon.svg" alt="Logo Paisaxe da auga" class="h-10 w-auto"/>
          </div>
          <div class="text-base font-semibold ml-4">
            <span class="text-sky-500">Ribeira Sacra</span><br/>
            Paisaxe da auga
          </div>
        </div>
      </a>
    </div>
    <!-- Idiomas -->
    <div class="hidden lg:block">
      <ul class="flex gap-2 rounded-full bg-sky-100 p-2 text-sm sombra_interior">
        <li>
          <a href="#" class="rounded-full size-12 flex items-center justify-center bg-white sombra">es</a>
        </li>
        <li>
          <a href="#" class="rounded-full size-12 flex items-center justify-center hover:bg-sky-50">en</a>
        </li>
        <li>
          <a href="#" class="rounded-full size-12 flex items-center justify-center hover:bg-sky-50">gl</a>
        </li>
      </ul>
    </div>
    <!-- Menu -->
    <div class="lg:flex-1" x-data="{menu : false}">
      <button class="ml-auto block" @click="menu = true">
        <svg class="fill-none stroke-sky-600 stroke-2 size-14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
          <path d="M13 12h8"/>
          <path d="M13 18h8"/>
          <path d="M13 6h8"/>
          <path d="M3 12h1"/>
          <path d="M3 18h1"/>
          <path d="M3 6h1"/>
          <path d="M8 12h1"/>
          <path d="M8 18h1"/>
          <path d="M8 6h1"/>
        </svg>
      </button>
      <div class="absolute top-6 left-1/2 -translate-x-1/2 overflow-hidden w-full max-w-screen-2xl h-full rounded-xl z-40" x-show="menu" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
        <div class="absolute right-0 top-0 bottom-0 bg-sky-500 text-sky-50 max-w-xl h-fit px-12 pb-20 rounded-bl-xl" @click.outside="menu = false" x-show="menu" x-transition:enter-start="translate-x-24" x-transition:enter-end="translate-x-0" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-24" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
          <div class="pt-9 pr-9">
            <button class="ml-auto block" @click="menu = false">
              <svg class="fill-none stroke-sky-600 stroke-2 size-14" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                <path d="M13 12h8"/>
                <path d="M13 18h8"/>
                <path d="M13 6h8"/>
                <path d="M3 12h1"/>
                <path d="M3 18h1"/>
                <path d="M3 6h1"/>
                <path d="M8 12h1"/>
                <path d="M8 18h1"/>
                <path d="M8 6h1"/>
              </svg>
            </button>
          </div>
          <div>
            <ul class="space-y-6">
              <li>
                <a href="/">Inicio</a>
              </li>
              {%- for atributo in collections.atributo -%}
                <li class="max-w-[260px]">
                  <a href="{{ atributo.url }}">
                    {{ atributo.data.title }}
                  </a>
                </li>
              {%- endfor -%}
              <li>
                <a href="/legal">Textos legales</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>