{% extends "./base.html" %}
{% block content %}
    <div
        class="caixa pt-20">
        <!-- Titular -->
        <div class="max-w-xl mx-auto text-center">
            <div>
                <h1 class="text-4xl sm:text-5xl text-sky-500 !leading-tight inline-block mb-3 font-extrabold">
                    {{ title }}
                </h1>
                <div class="max-w-lg mx-auto">
                    {{ descripcion | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="caixa pt-20 lg:pt-36">
        <div class="flex flex-col gap-6 sm:gap-12 lg:gap-20">
            {%- for item in galeria -%}
                <div>
                    <img eleventy:widths="auto,400,800" loading="lazy" src="/assets/img/atributos/{{ item.img }}" alt="{{ item.alt }}" class="rounded-xl mx-auto"></div>
                {%- endfor -%}
            </div>
        </div>
        <div class="caixa py-20 lg:py-36">
            <div class="max-w-3xl mx-auto">
                {{ content | safe }}
            </div>
        </div>
        <div class="caixa py-20 bg-sky-100">
            <div class="flex flex-col gap-20">
                {%- for item in graficos -%}
                    <div class="rounded-xl overflow-hidden shadow-lg shadow-sky-800/20">
                        <img eleventy:widths="auto,400,800" loading="lazy" src="/assets/img/atributos/{{ item.img }}" alt="{{ item.alt }}"></div>
                    {%- endfor -%}
                </div>
            </div>
            <div class="caixa py-36 border-b border-sky-400">
                {% set prev = collections["atributo_" + locale] | getPreviousCollectionItem(page) %}
                {% set next = collections["atributo_" + locale] | getNextCollectionItem(page) %}
                <div class="flex flex-col md:flex-row gap-20 text-sky-500">
                    <div class="md:flex-1">
                        {% if prev %}
                            <a href="{{ prev.url }}">
                                <svg class="size-7 fill-none stroke-current stroke-2 mx-auto md:mx-0 md:ml-auto" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M6 8L2 12L6 16"/><path d="M2 12H22"/>
                                </svg>
                                <div class="pt-2 max-w-60 text-center md:text-right mx-auto md:mx-0 md:ml-auto">{{ prev.data.title }}</div>
                            </a>
                        {% endif %}
                    </div>
                    <div class="md:flex-1">
                        {% if next %}
                            <a href="{{ next.url }}">
                                <svg class="size-7 fill-none stroke-current stroke-2 mx-auto md:mx-0" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M18 8L22 12L18 16"/><path d="M2 12H22"/>
                                </svg>
                                <div class="pt-2 max-w-60 text-center md:text-left mx-auto md:mx-0">{{ next.data.title }}</div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}