{% extends "./base.html" %}
{% block content %}
    <div
        class="caixa lg:pt-20">
        <!-- -->
        <div class="w-28 mx-auto pt-12 pb-6 lg:hidden">
            {% include 'svg/logo.svg' %}
        </div>
        <!-- Titular -->
        <div class="max-w-2xl mx-auto text-center">
            <div>
                <h1 class="text-4xl sm:text-5xl mb-3 font-extrabold">
                    <span class="text-sky-500 block mb-2">{{ tit }}</span>
                    {{ ulo }}
                </h1>
                <div class="max-w-lg mx-auto pt-3">
                    {{ descripcion | safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- Video -->
    <div class="caixa py-20">
        <div class="relative w-full bg-sky-900 rounded-xl shadow-lg shadow-sky-800/20 overflow-y-hidden">
            <img src="/assets/img/home/video.webp" alt="" class="block"/>
        </div>
    </div>
    {% include 'localizacion.html' %}
    {% include 'delimitacion.html' %}
    <!-- Criterio -->
    <div class="caixa py-36 text-center">
        <span class="text-sky-500 mb-3 block">{{ crit }}</span>
        <h2 class="text-3xl max-w-xl mx-auto">{{ criterio }}</h2>
        <div class="max-w-2xl mx-auto mt-5">
            {{ criterio_cuerpo | safe }}
        </div>
    </div>
    <!-- Valor -->
    <div class="caixa bg-sky-100" x-data="{ expanded: false }">
        <div class="py-36 mx-auto max-w-3xl text-left">
            <h2 class="text-3xl text-center">{{ valor }}</h2>
            <div class="mt-5">{{ valor_entrada | safe }}</div>
            <div x-show="expanded" x-collapse>
                <div>{{ valor_cuerpo | safe }}</div>
            </div>
            <button @click="expanded = ! expanded" class="absolute bottom-0 z-30 left-1/2 -translate-x-1/2 translate-y-1/2 bg-sky-100 px-12 h-16 flex gap-3 items-center justify-center w-fit rounded-full mx-auto">
                <div>
                    <svg class="fill-none stroke-current stroke-2 size-6" :class="expanded ? 'rotate-180' : ''" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"/>
                    </svg>
                </div>
                <div class="whitespace-nowrap">{{ site[locale].vermas }}</div>
            </button>
        </div>
    </div>
    {% include 'trio_docs.html' %}
    <!-- Fontes -->
    <div class="caixa bg-sky-100" x-data="{ expanded: false }">
        <div class="py-36 mx-auto max-w-3xl text-left">
            <h2 class="text-3xl text-center">Fontes</h2>
            <div class="mt-5">{{ fontes | safe }}</div>
            <div x-show="expanded" x-collapse>
                <div class="pb-12">{{ content | safe }}</div>
                <a href="{{ fontes_link }}" target="_blank" class="boton outline mx-auto">
                    <div>
                        <svg class="fill-none stroke-current stroke-2 size-6" viewbox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/>
                            <path d="m21 3-9 9"/>
                            <path d="M15 3h6v6"/>
                        </svg>
                    </div>
                    <div>Web</div>
                </a>
            </div>
            <button @click="expanded = ! expanded" class="absolute bottom-0 z-30 left-1/2 -translate-x-1/2 translate-y-1/2 bg-sky-100 px-12 h-16 flex gap-3 items-center justify-center w-fit rounded-full mx-auto">
                <div>
                    <svg class="fill-none stroke-current stroke-2 size-6" :class="expanded ? 'rotate-180' : ''" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m6 9 6 6 6-6"/>
                    </svg>
                </div>
                <div class="whitespace-nowrap">{{ site[locale].vermas }}</div>
            </button>
        </div>
    </div>
    {% include 'matriz_atributos.html' %}
{% endblock %}