@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [x-cloak] {
    display: none !important;
  }
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply font-sans text-base leading-relaxed sm:text-xl sm:leading-normal font-medium text-sky-900;
  }
  .caixa {
    @apply max-w-screen-2xl mx-auto px-6 sm:px-12 xl:px-20 bg-white shadow-lg shadow-sky-500/30 relative;
  }
  .dupla {
    @apply flex flex-col xl:flex-row gap-20 items-center *:flex-1;
  }
  h1,
  h2,
  h3 {
    @apply text-sky-950 font-extrabold;
  }
  p {
    @apply pt-5;
  }
  p > strong,
  p > b {
    @apply font-extrabold text-sky-500;
  }
  a,
  button {
    @apply transition-all duration-300;
  }
  ol {
    @apply list-decimal list-inside; 
  }
  ol > li {
    @apply mt-6;
  } 
  .sombra {
    @apply shadow-md shadow-sky-500/15;
  }
  .sombra_interior {
    @apply shadow-inner shadow-sky-500/20;
  }
}
@layer components {
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  a.boton {
    @apply mt-9 bg-sky-500 text-sky-50 px-12 h-14 flex gap-3 items-center justify-center w-fit rounded-full;
  }
  a.boton.outline {
    @apply bg-transparent border border-sky-300 text-sky-500;
  }
}
